.chat-window {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.chat-window div {
  margin-bottom: 10px;
}

.chat-window input {
  width: calc(100% - 80px);
  padding: 10px;
  margin-right: 10px;
}

.chat-window button {
  padding: 10px;
}

.chatIcono{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  color: var(--text);
  bottom: 20px;
  right: 20px;
  transition: width 1s, height 1s, border-radius 1.5s ease-in-out;

}

.open{
  width: 500px;
  height: 500px;
  transition: none;
  border-radius: 4px;
  justify-content: start;
  align-items: flex-start;
  cursor: default;

}

.text-split{
    overflow-wrap: break-word;
    word-break: break-all
}
