<div
  [ngClass]="{'bg-custom-dark-default' : getService().isModoOscuro(),'bg-custom-default' : getService().isModoClaro() }"
  [ngStyle]="getService().isModoOscuro() ? {'background-image': 'url(assets/background_dark_default.svg)'} : {'background-image': 'url(assets/background_light_default.svg)'}"  class="flex flex-col h-screen w-screen pt-20 px-6 bg-background overflow-x-hidden">
  <div class="flex flex-row justify-between p-2">
    <h2>Mis Proyectos</h2>
    <div class="flex">
      <button (click)="AbrirNuevoProyecto()">Nuevo proyecto</button>
    </div>
  </div>
  <div class="flex flex-col p-2">

    <div class="flex flex-row flex-wrap gap-3">
      @for (proyecto of listaProyectos; track $index) {
        <app-proyectoCard [proyecto]="proyecto" (actualizarProyectos)="cargarProyectosByUsuario()"></app-proyectoCard>
      }
    </div>
  </div>
</div>


@if (getProyectosServices().getIsNuevoProyecto()) {
<app-modal (exitEventEmitter)="getProyectosServices().closeProyecto()">
  <h1 titulo>Nuevo proyecto</h1>
  <div body class="flex flex-col gap-1">
    <div class="flex flex-col p-4 gap-3">
      <h4 class="font-semibold">Nombre del proyecto</h4>
      <app-inputForm [type]="'text'" [titulo]="'Nombre del proyecto'" [placeholder]="'Nombre del proyecto'"
        (valueEventEmitter)="nombreProyecto = $event"></app-inputForm>
    </div>
    <div class="flex flex-col p-4 gap-3">
      <h4 class="font-semibold">Seleccione plantilla</h4>
      <div class="flex flex-row gap-3">
        @for (plantilla of listaPlantillas; track $index) {
          <app-plantillaCard [plantilla]="plantilla" ></app-plantillaCard>
        }
      </div>
      @if (getProyectosServices().getPlantillaSeleccionada()) {
        <div class="flex flex-row justify-start items-start">
          <span class="material-symbols-outlined text-text">
            check_circle
          </span>
          <span class="text-text">Plantilla cargada correctamente</span>
        </div>
      }
    </div>
    <div class="flex flex-col p-4 gap-3">
      <h4 class="font-semibold">Importar base de datos</h4>
      <div class="flex flex-col gap-10">
        <app-ImportarBaseDatos [NombreModelo]="'Producto'" [NombreDatos]="'Productos'"></app-ImportarBaseDatos>
        <app-ImportarBaseDatos [NombreModelo]="'Categoria'" [NombreDatos]="'Categorias'"></app-ImportarBaseDatos>
      </div>
    </div>
    <div class="flex flex-col p-4 gap-3">
      <h4 class="font-semibold">Personalización</h4>
      <span class="text-text font-bold text-lg">Titulo del proyecto</span>
      <div class="grid grid-cols-2 justify-start items-start gap-10">
        <div>
          <app-inputForm [type]="'text'" [titulo]="'Nombre del proyecto'" [placeholder]="'Nombre del proyecto'"
            (valueEventEmitter)="vistaPagina_main_titulo = $event"></app-inputForm>
        </div>
      </div>
      <span class="text-text font-bold text-lg">Moneda utilizada en la tienda</span>
      <div class="grid grid-cols-2 justify-start items-start gap-10">
        <div>
          <app-inputForm [type]="'text'" [titulo]="'Moneda'" [placeholder]="'€'"
            (valueEventEmitter)="moneda = $event"></app-inputForm>
        </div>
      </div>
      <span class="text-text font-bold text-lg">Logotipo de la página</span>
      <div (click)="activarCargaLogotipo()"
        class="flex flex-row gap-2 justify-center items-center p-2 border-2 border-border hover:bg-background-light transition-colors rounded cursor-pointer">
        <span class="material-symbols-outlined text-text">
          upload
        </span>
        <span class="text-text">Cargar Logotipo</span>
        <input hidden #input type="file">
      </div>
      @if (isLogotipoCargado) {
        <div class="flex flex-row justify-center items-center">
          <span class="material-symbols-outlined text-text">
            check_circle
          </span>
          <span class="text-text">Logotipo cargado correctamente</span>
        </div>
        <div class="flex flex-row justify-center items-center">
          <img class="w-[150px] h-[150px] rounded-full shadow-sm border-1"
            [src]="logo" alt="Foto de perfil">
        </div>
      }
      <span class="text-text font-bold text-lg">Colores principales</span>
      <div class="grid grid-cols-2 justify-start items-start gap-10">
        <div class="flex flex-col gap-5 justify-start items-start">
          <div class="flex flex-row gap-5 justify-center items-center">
            <div class="grid grid-cols-2">
              <span class="text-text font-semibold text-sm italic">Color del fondo de la pagina</span>
              <input class="p-2 bg-background-light border-2 cursor-pointer rounded-md rounded-full"
                [(colorPicker)]="vistaPagina_color_background"
                [style.background]="vistaPagina_color_background" />
            </div>
          </div>
          <div class="flex flex-row gap-5 justify-center items-center">
            <div class="grid grid-cols-2">
              <span class="text-text font-semibold text-sm italic">Color de los items de la tienda</span>
              <input class="p-2 bg-background-light border-2 cursor-pointer rounded-md rounded-full"
                [(colorPicker)]="vistaPagina_color_items"
                [style.background]="vistaPagina_color_items" />
            </div>
          </div>
          <div class="flex flex-row gap-5 justify-center items-center">
            <div class="grid grid-cols-2">
              <span class="text-text font-semibold text-sm italic">Color del texto</span>
              <input class="p-2 bg-background-light border-2 cursor-pointer rounded-md rounded-full"
                [(colorPicker)]="vistaPagina_color_texto"
                [style.background]="vistaPagina_color_texto" />
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-5 justify-start items-start">
          <div class="flex flex-row gap-5 justify-center items-center">
            <div class="grid grid-cols-2">
              <span class="text-text font-semibold text-sm italic">Color del header</span>
              <input class="p-2 bg-background-light border-2 cursor-pointer rounded-md"
                [(colorPicker)]="vistaPagina_color_header"
                [style.background]="vistaPagina_color_header" />
            </div>
          </div>
          <div class="flex flex-row gap-5 justify-center items-center">
            <div class="grid grid-cols-2">
              <span class="text-text font-semibold text-sm italic">Color del submenu del header</span>
              <input class="p-2 bg-background-light border-2 cursor-pointer rounded-md"
                [(colorPicker)]="vistaPagina_color_subHeader"
                [style.background]="vistaPagina_color_subHeader" />
            </div>
          </div>
          <div class="flex flex-row gap-5 justify-center items-center">
            <div class="grid grid-cols-2">
              <span class="text-text font-semibold text-sm italic">Color de los botones</span>
              <input class="p-2 bg-background-light border-2 cursor-pointer rounded-md"
                [(colorPicker)]="vistaPagina_color_botones"
                [style.background]="vistaPagina_color_botones" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col py-4 w-full">
      <button (click)="generarProyecto()" class="w-full">Generar Proyecto</button>
      @if(msgError != ""){
        <div class="flex flex justify-center items-center">
          <span class="text-red-600 font-semibold">{{msgError}}</span>
        </div>
      }
    </div>
  </div>
</app-modal>





}
