<div class="fixed flex flex-col w-full bg-background ">
  <div class="flex flex-row justify-between items-center">
    <div class="flex flex-row items-center justify-start gap-5">
      <div class="flex flex-row justify-start items-center cursor-pointer px-3" (click)="goTo('/main')" >
        <img src="assets/icon/appIcon.png" class="w-12 h-12" alt="App Icon">
        <p class="text-xl text-text font-bold text-nowrap">Web Creator</p>
      </div>
      <div class="flex flex-row justify-start items-center">
        @for (item of MenuDesplegables; track $index) {
          <app-HeaderDesplegable [MenuDesplegable]="item"></app-HeaderDesplegable>
        }
      </div>
    </div>
    <div class="flex justify-center items-center flex-row gap-3">
      <app-ToggleMode></app-ToggleMode>
      <app-UserProfileDropdown></app-UserProfileDropdown>
    </div>
  </div>

</div>
