
.animacionSlide {
  animation: delizarDesdeAbajo 0.5s ease;
}

.index{
  z-index: 99999;
}

@keyframes delizarDesdeAbajo {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

