.indexFondo{
  z-index: 1000;
}
.indexModal{
  z-index: 1001;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fondo
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.295);
}

.dark.fondo
{
  background-color: rgba(12, 4, 124, 0.37);
}


