<div class="flex flex-col gap-5">
  <div class="flex flex-col bg-background w-full h-full">
    <app-Header></app-Header>
    <div class="">
      <!-- Modo claro -->
      <h1>Encabezado 1</h1>
      <h2>Encabezado 2</h2>
      <h3>Encabezado 3</h3>
      <h4>Encabezado 4</h4>
      <h5>Encabezado 5</h5>
      <h6>Encabezado 6</h6>
      <p>Este es un párrafo de ejemplo. Este texto se ajusta a los estilos definidos en el CSS.</p>
      <ul>
        <li>Elemento de lista 1</li>
        <li>Elemento de lista 2</li>
        <li>Elemento de lista 3</li>
      </ul>
      <ol>
        <li>Elemento numerado 1</li>
        <li>Elemento numerado 2</li>
        <li>Elemento numerado 3</li>
      </ol>
      <blockquote>Esta es una cita de ejemplo. Esta cita está estilizada con los estilos definidos en el CSS.
      </blockquote>
      <button>Botón de ejemplo</button>
    </div>


    <!-- Ejemplos de tarjetas en modo oscuro -->
    <div class="card">
      <h2>Título de la Tarjeta</h2>
      <p>Esta es una tarjeta suelta con contenido simple.</p>
    </div>

    <div class="card">
      <h2>Título de la Tarjeta con Componentes</h2>
      <p>Esta tarjeta incluye una lista:</p>
      <ul>
        <li>Elemento de lista 1</li>
        <li>Elemento de lista 2</li>
        <li>Elemento de lista 3</li>
      </ul>
      <button>Botón en la Tarjeta</button>
    </div>

    <div class="card">
      <h2>Título de la Tarjeta con Otra Tarjeta</h2>
      <p>Esta tarjeta contiene otra tarjeta dentro:</p>
      <div class="card">
        <h3>Subtarjeta</h3>
        <p>Esta es una subtarjeta dentro de otra tarjeta.</p>
      </div>
      <div class="card">
        <h3>Subtarjeta</h3>
        <div class="flex flex-row gap-5">

        <div class="card flex flex-col">
          <p>Esta es una subtarjeta dentro de otra tarjeta.</p>
          <div class="card flex flex-col">
            <p>Esta es una subtarjeta dentro de otra tarjeta.</p>
          </div>
        </div>
        <div class="card flex flex-col">
          <p>Esta es una subtarjeta dentro de otra tarjeta.</p>
          <div class="card flex flex-col">
            <p>Esta es una subtarjeta dentro de otra tarjeta.</p>
            <div class="card flex flex-col">
              <p>Esta es una subtarjeta dentro de otra tarjeta.</p>
              <div class="card flex flex-col">
                <p>Esta es una subtarjeta dentro de otra tarjeta.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      </div>
      <div class="card">
        <h3>Subtarjeta</h3>
        <p>Esta es una subtarjeta dentro de otra tarjeta.</p>
      </div>
      <div class="card">
        <h3>Subtarjeta</h3>
        <p>Esta es una subtarjeta dentro de otra tarjeta.</p>
      </div>
    </div>
  </div>

  <div class="dark flex flex-col bg-background w-full h-full">
    <app-Header></app-Header>

    <div class="">
      <!-- Modo oscuro -->
      <h1>Encabezado 1</h1>
      <h2>Encabezado 2</h2>
      <h3>Encabezado 3</h3>
      <h4>Encabezado 4</h4>
      <h5>Encabezado 5</h5>
      <h6>Encabezado 6</h6>
      <p>Este es un párrafo de ejemplo en modo oscuro. Este texto se ajusta a los estilos definidos en el CSS.</p>
      <ul>
        <li>Elemento de lista 1</li>
        <li>Elemento de lista 2</li>
        <li>Elemento de lista 3</li>
      </ul>
      <ol>
        <li>Elemento numerado 1</li>
        <li>Elemento numerado 2</li>
        <li>Elemento numerado 3</li>
      </ol>
      <blockquote>Esta es una cita de ejemplo en modo oscuro. Esta cita está estilizada con los estilos definidos en el
        CSS.</blockquote>
      <button>Botón de ejemplo en modo oscuro</button>
    </div>

      <!-- Ejemplos de tarjetas en modo oscuro -->
      <div class="card">
        <h2>Título de la Tarjeta</h2>
        <p>Esta es una tarjeta suelta con contenido simple.</p>
      </div>

      <div class="card">
        <h2>Título de la Tarjeta con Componentes</h2>
        <p>Esta tarjeta incluye una lista:</p>
        <ul>
          <li>Elemento de lista 1</li>
          <li>Elemento de lista 2</li>
          <li>Elemento de lista 3</li>
        </ul>
        <button>Botón en la Tarjeta</button>
      </div>

      <div class="card">
        <h2>Título de la Tarjeta con Otra Tarjeta</h2>
        <p>Esta tarjeta contiene otra tarjeta dentro:</p>
        <div class="card">
          <h3>Subtarjeta</h3>
          <p>Esta es una subtarjeta dentro de otra tarjeta.</p>
        </div>
        <div class="card">
          <h3>Subtarjeta</h3>
          <div class="flex flex-row gap-5">

          <div class="card flex flex-col">
            <p>Esta es una subtarjeta dentro de otra tarjeta.</p>
            <div class="card flex flex-col">
              <p>Esta es una subtarjeta dentro de otra tarjeta.</p>
            </div>
          </div>
          <div class="card flex flex-col">
            <p>Esta es una subtarjeta dentro de otra tarjeta.</p>

            <div class="card flex flex-col">
              <p>Esta es una subtarjeta dentro de otra tarjeta.</p>

              <div class="card flex flex-col">
                <p>Esta es una subtarjeta dentro de otra tarjeta.</p>

                <div class="card flex flex-col">
                  <p>Esta es una subtarjeta dentro de otra tarjeta.</p>

                </div>
              </div>
            </div>
          </div>
        </div>

        </div>
        <div class="card">
          <h3>Subtarjeta</h3>
          <p>Esta es una subtarjeta dentro de otra tarjeta.</p>
        </div>
        <div class="card">
          <h3>Subtarjeta</h3>
          <p>Esta es una subtarjeta dentro de otra tarjeta.</p>
        </div>
      </div>
</div>
