<div [ngClass]="{'bg-custom-dark-default' : getService().isModoOscuro(),'bg-custom-default' : getService().isModoClaro() }" class="flex flex-col h-screen w-screen pt-28 bg-background">
  <div class="flex flex-row justify-between p-2">
    <h2>Administracion de Usuarios</h2>
    <div class="flex ">
      <button (click)="guardarCambios()">Guardar Cambios</button>
    </div>
  </div>
  <div class="flex flex-col">
    <h3 class="my-4">Tabla de Usuarios</h3>
    <div class="table-container bg-background rounded shadow-sm ">
      <table>
        <thead>
          <tr>
            <th class="text-text" *ngFor="let column of columns">{{ column }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of datosTabla" (click)="clickRow(row)" class="hover:bg-background-light">
            @for (col of columns; track $index) {
              <td class="text-text">
                @if (col == "Email") {
                  {{row.Email}}
                }
                @if (col == "Nombre") {
                  {{row.Nombre}}
                }
                @if (col == "Primer Apellido") {
                  {{row.Apellido1}}
                }
                @if (col == "Segundo Apellido") {
                  {{row.Apellido2}}
                }
                @if (col == "Rol") {
                  <select class="p-1 border-none  p-2 bg-background-light rounded-md" [(ngModel)]="row.Rol" (change)="cambiarRol(row)">
                    <option value="" disabled hidden selected>{{row.Rol}}</option>
                    <option value="admin">Administrador</option>
                    <option value="user">Usuario</option>
                  </select>

                }
              </td>
            }
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>






