<div [ngClass]="{'bg-custom-dark-default' : getService().isModoOscuro(),'bg-custom-default' : getService().isModoClaro() }" class="flex flex-col h-screen p-5 bg-background">
  <h2>Configuracion de Usuario</h2>
  <div class="flex flex-col">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th class="bg-background-dark" *ngFor="let column of columns">{{ column }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data" (click)="clickRow(row)" class="border-b-2 hover:bg-background-dark">
            <td *ngFor="let column of columns">{{ row[column] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>






