<body class="bg-background text-text ">
  <header class="min-h-screen flex items-center justify-center bg-custom">
    <div class="text-center">
      <h1 class="text-4xl font-bold mb-4">Crea Páginas Web Modernas sin saber programar</h1>
      <p class="text-lg mb-8">Una aplicacion que te permitira construir paginas web a traves de componentes de su catalogo como <code>Botones</code>,
        <code>Secciones</code>, <code>tablas</code> y desplegarla sin tener conocimientos de programacion.
      </p>
      <a href="#" class="bg-secondary text-text font-bold py-2 px-4 rounded ">Comienza ahora</a>
      <a href="#" class="bg-accent text-text-button font-bold py-2 px-4 ml-4 rounded ">Buscar...</a>
    </div>
  </header>
  <main class="p-8">
    <section class="flex flex-col items-center">
      <div class="bg-card flex flex-col justify-center items-center rounded-xl p-8">
        <app-UserAvatar [imgRoute]="'assets/avatar/Sergio.jpg'"></app-UserAvatar>
        <h1 class="border-b-2 border-accent w-full text-center"> Tabajo Final de Grado</h1>
        <h3 class="pt-2"> Creador de paginas Web y despligue Automatico</h3>
        <div class="flex flex-col w-full pt-6 space-y-4 justify-center items-center">
          <blockquote class="flex w-full justify-center items-center">
              <img class="h-32" src="assets/icon/University-of-Burgos.png" alt="">
          </blockquote>
          <figcaption class="font-medium">
            <div class="text-primary text-center">
              Sergio Gonzalez Martinez
            </div>
            <div class="text-text">
              Trabajo Final de Grado realizado en la Universidad De Burgos.
            </div>
          </figcaption>
        </div>
      </div>
    </section>
  </main>
</body>
