<div class="flex flex-col bg-background text-text h-screen">
  <div [ngClass]="{'bg-custom-dark' : getService().isModoOscuro(), 'bg-custom' : getService().isModoClaro }"
  [ngStyle]="getService().isModoOscuro() ? {'background-image': 'url(assets/background_dark.svg)'} : {'background-image': 'url(assets/background_light.svg)'}" class="flex w-full min-h-screen h-[100vh] items-center justify-center">
    <div class="text-center">
      <h1 class="text-4xl font-bold mb-4">Crea proyectos Web sin saber programar</h1>
      <p class="text-lg mb-8">Una aplicación que te permitira construir páginas web a través de plantillas preexistentes con sus ficheros <code>Docker</code>
        de despliegue importando un fichero <code>.csv</code> con la estructura de la base de datos.
      </p>
      <a (click)="goProyectos()" class="bg-secondary text-text font-bold py-2 px-4 rounded hover:bg-secondary-light transition-colors cursor-pointer ">Comienza ahora</a>
      <a (click)="goDocumentacion()" class="bg-primary text-text-button font-bold py-2 px-4 ml-4 rounded hover:bg-accent-light transition-colors cursor-pointer">Documentación</a>
    </div>
  </div>
  <div [ngClass]="{'bg-custom-dark2' : getService().isModoOscuro(), 'bg-custom2' : getService().isModoClaro }"
  [ngStyle]="getService().isModoOscuro() ? {'background-image': 'url(assets/background_dark2.svg)'} : {'background-image': 'url(assets/background_light2.svg)'}"  class="flex w-full min-h-screen h-[100vh]">
    <div class="flex w-full h-full justify-center items-center">
      <div class="bg-card flex flex-col justify-center items-center rounded-xl p-8">
        <app-UserAvatar [imgRoute]="'assets/avatar/Sergio.jpg'"></app-UserAvatar>
        <h1 class="border-b-2 border-accent w-full text-center"> Tabajo Final de Grado</h1>
        <h3 class="pt-2"> Creador de paginas Web y despligue Automatico</h3>
        <div class="flex flex-col w-full pt-6 space-y-4 justify-center items-center">
          <blockquote class="flex w-full justify-center items-center">
            <img class="h-32" src="assets/icon/University-of-Burgos.png" alt="">
          </blockquote>
          <figcaption class="">
            <div class="text-text text-center text-xl font-bold">
              Sergio González Martínez
            </div>
            <div class="text-text font-medium">
              Trabajo Final de Grado realizado en la Universidad De Burgos.
            </div>
          </figcaption>
        </div>
      </div>
    </div>
  </div>
</div>
