.bg-custom {
  background-image: url('/assets/background_light.svg');
  background-size: cover; /* Ajusta el tama単o del fondo */
  background-position: center; /* Centra el fondo */
  background-repeat: no-repeat; /* Evita que se repita el fondo */
}
.bg-custom-dark{
  background-image: url('/assets/background_dark.svg');
  background-size: cover; /* Ajusta el tama単o del fondo */
  background-position: center; /* Centra el fondo */
  background-repeat: no-repeat; /* Evita que se repita el fondo */
}
.bg-custom-dark2{
  background-image: url('/assets/background_dark2.svg');
  background-size: cover; /* Ajusta el tama単o del fondo */
  background-position: center; /* Centra el fondo */
  background-repeat: no-repeat; /* Evita que se repita el fondo */
}
.bg-custom-dark3{
  background-image: url('/assets/background_dark3.svg');
  background-size: cover; /* Ajusta el tama単o del fondo */
  background-position: center; /* Centra el fondo */
  background-repeat: no-repeat; /* Evita que se repita el fondo */
}
